header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding-bottom: 15px;
}
div#credentials {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
